.detail--wrapper {
  max-width: 350px;
  width: 80vw;
  height: 90vh;
  margin: 5vh auto;
  padding: 5vh 5vw;
  border: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  border-radius: 5px;
  .detail--title {
    text-align: center;
    .title--hl {
      color: rgb(255, 255, 255);
      font-weight: 900;
      background: orange;
      padding: 0.2rem;
      border-radius: 5px;
    }
  }
  .circle--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;
    width: 100%;
    .detail--circle__grey {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 5px;
      background-color: rgb(221, 221, 221);
    }
    .detail--circle__yellow {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 5px;
      background-color: #ffeb3b;
    }
  }
  .detail--button {
    cursor: pointer;
    width: 100%;
    background-color: purple;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    color: rgb(255, 255, 255);
  }
}
