.main--wrapper {
  max-width: 350px;
  width: 80vw;
  height: 90vh;
  margin: 5vh auto;
  padding: 5vh 0px;
  border: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  border-radius: 5px;
  .main--title {
    text-align: center;
  }
  .main--rate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;
    width: 100%;
    .rate--date {
      margin: 0px 0.5rem 0px 0px;
      font-weight: bold;
    }
    .rate--circle__yellow {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 5px;
      background-color: rgb(255, 235, 59);
    }
    .rate--circle__grey {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 5px;
      background-color: #ddd;
    }
    .rate--arrow {
      appearance: none;
      background-color: transparent;
      border-color: transparent purple;
      width: 0px;
      height: 0px;
      border-top-width: 1rem;
      border-top-style: solid;
      border-bottom-width: 1rem;
      border-bottom-style: solid;
      border-left-width: 1.6rem;
      border-left-style: solid;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
}
